qdrant-client==1.18.0
falkordblite==0.10.0 ; sys_platform != 'win32'
falkordb ; sys_platform == 'win32'
python-dotenv
pydantic
openai
langextract
google-generativeai
pypdf
python-docx
python-pptx
openpyxl
sentence-transformers
spacy
fastmcp
python-dotenv
lxml
gliner
pandas
